body {
    background-color: #E5EFF5;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.jumbotron{
  background-color: #2AB2AF;
  color: white;
}

.coinBlock{
  border: 1px solid #C0DF34;
  background-color: #fff;
  border-radius: .5em;
  margin: 1rem;
  padding: 1rem;
 
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h2{
  font-size: 1.5rem;
  font-weight: 400;
}

p{
  text-align: center;
  font-size: 1.5rem;
}

.disclaimer{
  color: #40C4C2;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .1em;;
}